.GameContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
}

.GameContainer .flagDisplayContainer {
    display: flex;
    flex-grow: 1;
    margin: 35px 50px 45px 50px;
    padding: 15px 15px 15px 15px;
    justify-content: center;
    max-width: 450px;
    height: 25%;
}

.GameContainer .AnswerButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 30%;
    max-width: 500px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.gameScore{
    /* margin: 10px; */
}

.resultBar {
    flex-grow: 1;
    position: relative;
}

.exitButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.exitButton{
    margin: 10px;
    padding: 10px;
    background-color: red;
}